.list {
  grid-area: list;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.articles {
  display: flex;
  flex-direction: column;
}

.filter button {
  width: 100%;
  padding: 1rem 0;
  border: 0;
  border-bottom: black solid 1px;
  background-color: grey;
  color: white;
}