.list {
  grid-area: list;
  list-style-type: none;
  background-color: none;
  padding: 0;
  margin: 0;
}

.articles {
  display: flex;
  flex-direction: column;
}

.heading {
  background-color: white;
  text-align: center;
  padding: 1rem 0;
  border-bottom: black solid 1px;
  margin: 0;
}

.filter button {
  width: 100%;
  padding: 0.8rem 0;
  border: 0;
  border-bottom: black solid 1px;
  background-color: #133C55;
  color: white;
  font-size: 110%;
}

.filter button:hover {
  background-color: #507FA0;
}

.loader {
  position: relative;
  bottom: 0;
  transform: translateY(-100%);
  background-color: white;
  border-top: black solid 1px;
}