.article {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid black;
  background-color: white;
}

.article p {
  color: rgb(53, 53, 53);
}

.article h2 {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 2px solid black;
}

.info-wrapper {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  align-self: center;
  align-items: center;
  padding: 0.8em 0;
  width: 100%;
  justify-content: space-around;
  max-width: 425px;
}

.created svg {
  padding-right: 0.6em;
}

.topic {
  color: #133C45;
}

.topic svg {
  padding-right: 0.6em;
}

.topic a {
  text-decoration: none;
  color: inherit;
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  margin-right: 0.6em;
  max-width: 2em;
  border-radius: 50%;
  border: black solid 1px;
}

.voter {
  max-width: 600px;
}

@media only screen and (min-width: 600px) {
  .voter-wrapper {
    width: 600px;
    align-self: center;
  }
}