.showcase {
  grid-area: showcase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}