.comments {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: none;
}

.heading {
  background-color: white;
  display: flex;
  border-bottom: black solid 1px;
}

.heading h3 {
  padding: 0.8rem 0;
  padding-left: 0.8rem;
  margin: 0;
  flex-grow: 1;
}
.heading button {
  flex-grow: 1;
  border: 0;
  background-color: #133C55;
  color: white;
}

.heading button:hover {
  background-color: #507FA0;
}