.create {
  grid-area: create;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heading {
  width: 100%;
  padding: 1rem 0;
  margin: 0;
  border-bottom: black solid 1px;
  text-align: center;
}

.create-article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.8rem 0;
  background-color: #133C55;
  border-bottom: black solid 2px;
  color: white;
  text-decoration: none;
}

.create-article:hover {
  background-color: #507FA0;
}