@font-face {
  font-family: Julius;
  src: url(../fonts/JuliusSansOne-Regular.ttf);
}

.header {
  grid-column: 1;
  grid-row: 1;
  position: sticky;
  display: flex;
  justify-content: center;
  background-color: #02507C;
  border-bottom: black solid 2px;
  font-family: Julius, Impact, sans-serif;
}

.header a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  text-decoration: none;
}

.header h1 {
  text-align: center;
  margin: 0;
}

.header:hover {
  background-color: #507FA0;
  color: white;
}

.header:hover a {
  color: white;
}

@media only screen and (min-width: 768px) {
  .header {
    grid-column: span 2;
    border-bottom: 0;
  }
}