@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.ttf);
}

.header {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 96, 150);
  border-bottom: black solid 2px;
  color: whitesmoke;
  font-family: Cinzel, Impact, sans-serif;
}
