.nav {
  grid-column: 2;
  grid-row: 1;
  display: flex;
}

.nav button {
  flex-grow: 1;
  border: 0;
  background-color: rgb(32, 32, 32);
}

.nav button:hover {
  background-color: rgb(68, 68, 68);
}

.wrapper {
  overflow: hidden;
}

.navlist {
  background-color: rgb(32, 38, 41);
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  position: absolute;
  width: 12rem;
  top: 4.5rem;
  right: 0;
  z-index: 100;
  transition-duration: 1s;
}

.navlist-active {
  display: flex;
}

.navlist li {
  height: 4rem;
  display: flex;
  flex-direction: column;
}


.navlist li:hover {
  background-color: rgb(51, 57, 59);
}

.navlist li:last-child .link {
  border-bottom: 0;
}

.link {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  border-bottom: white solid 1px;
}

.link img {
  max-width: 1.5em;
  border-radius: 50%;
  margin-left: 0.3em;
}