.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  border-bottom: black solid 2px;
}

.profile h2 {
  width: 100%;
  padding: 1rem 0;
  margin: 0;
  border-bottom: black solid 2px;
  text-align: center;
}

.avatar {
  padding-top: 1rem;
  border-bottom: black solid 1px;
}

.avatar img {
  max-width: 6em;
  border-radius: 50%;
  border: rgb(36, 36, 36) solid 2px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
