button {
  cursor: pointer;
}

.app {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 4.5rem 1fr;
}

.viewport {
  display: grid;
  grid-column: span 2;
  grid-row: 3;
}