button {
  cursor: pointer;
}

.app {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 100px 1fr;
}

.viewport {
  display: grid;
  grid-template-areas:
    'showcase'
    'create';
  grid-column: span 2;
  grid-row: 3;
}