button {
  cursor: pointer;
}

.app {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 4.5rem 1.4rem 1fr;
}

.viewport {
  align-self: center;
  justify-self: center;
  display: grid;
  grid-column: span 2;
  grid-row: 3;
  width: 100%;
}